<p>
  <%= @pin.description %>
</p>

<p>
	<% if current_user && @pin.user == current_user %>
	  <%= link_to 'Edit', edit_pin_path(@pin) %>
	<% end %>

	<%= link_to 'Back', pins_path %>
</p>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <img style="max-width:100%;height:auto;" href=raw<%=image_tag@pin.image.url%>
      </div>
      <div class="panel-body">
        <p><%= @pin.description %></p>
        <p><strong><%= @pin.user.name if @pin.user %></strong></p>
      </div>
    </div>
  </div>
</div>

<p>
	<% if current_user && @pin.user == current_user %>
    <%= link_to edit_pin_path(@pin) do %>
      <span class="glyphicon glyphicon-edit"></span>Edit
    <% end %>
	<% end %>

  <%= link_to pins_path do %>
      <span class="glyphicon glyphicon-arrow-left"></span>Back
  <% end %>
</p>