<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="height: 43px; padding-left: 48px; padding-right: 55px;">
  <div class="container-fluid">
    <div class="container-fluid">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href=/ style="font-family: 'Playball';font-size: 32px;padding-top:10px;"> Pinteresting </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >


        <ul class="nav navbar-nav navbar-right" style="padding-top:13px;" <%#hover="background-color: red;"%>>

            <li>
              <%= link_to root_path do %>
                <span class="fa fa-home fa-lg"></span> Home
              </a>
              <% end %>
            </li>

          <% if user_signed_in? %>
            <%#method 2 to add a glyphicon %>
              <li class="home">
                <%= link_to new_pin_path do %>
                  <span class="fa fa-plus fa-lg"></span> New Pin
                <% end %>
              </li>

          <% else %>
              <li class="home"><%= link_to "Sign Up", new_user_registration_path %></li>
              <li class="home"><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>

          <li class="dropdown home"> <%#necessary for dropdown%>
            <a href="#" <%#turns default cursor into "pointing hand" cursor when hovering over link%>
                                                        class="dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span></a> <%#necessary for dropdown%>
              <ul class="dropdown-menu" role="menu" style="position:fixed;top:42px;right:70px;"> <%#necessary for dropdown %>
                  <li>
                    <%= link_to about_path do %>
                      <span class="fa fa-question fa-lg"></span> About Us
                    <%end%>
                  </li>
                <% if user_signed_in? %>
                  <li class="divider"></li>
                  <li>
                    <%= link_to edit_user_registration_path do %>
                      <span class="fa fa-cog fa-lg"></span> Account Settings
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <span class="fa fa-sign-out fa-lg"></span> Log Out
                    <%end%>
                  </li>
                <% end %>
              </ul>
          </li>

        </ul>
      </div>

    </div>
  </div>
</nav>
