<!DOCTYPE html>

<html>
	<head>
		<% #logo %>
		<link rel="icon" href="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p50x50/10447705_10203696767653444_5415251121519973337_n.jpg?oh=89e24ee49d67561b5bb520ac633c694b&oe=54F346B8&__gda__=1420744147_1e2a34a066e6623d5387efc63a019745">
		
		<style>
			p.ex {color: #026411;}
			a.one:link {color:#026420;text-decoration:none; padding: 0px;}
			a.one:visited {color:#026411;text-decoration:none;}
			a.one:hover {color:white;text-decoration:none;}
			a.one {font-family: 'Nosifer';font-size:48px;}
			p.link {text-align: center;}
			
		</style>
	  <title>Pinteresting</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body style="padding-top:55px; padding-bottom:0px; padding-right: 50px; padding-left: 50px;"> 

		<%= render 'layouts/header' %>

		<div class="container-fluid">
			<div class="container-fluid">
				<div class="jumbotron center" style="padding-top:5px;">
					<% flash.each do |name, msg| %>
						<%= content_tag(:div, msg, class: "alert alert-info") %>
					<% end %>
					<%= yield %>
				</div>

			</div>
		</div>
	</body>
	
	<p class="link">
		<b>
			<a class="one" href="/susi" target="_blank">Whoa!</a>
		</b>
	</p>

	<%#p>© 2014 proverbs.com. All Rights Reserved. Contact Us </p%>


		<%= render 'layouts/footer' %>

</html>
