<!DOCTYPE html>

<html>
	<head>
		<%= favicon_link_tag 'logo.png' %>
		<style>
			p.ex {color: #026411;}
			a.one:link {color:#026420;text-decoration:none; padding: 0px;}
			a.one:visited {color:#026411;text-decoration:none;}
			a.one:hover {color:white;text-decoration:none;}
			a.one {font-family: 'Nosifer';font-size:48px;}
			p.link {text-align: center;}

		</style>
	  <title>Pinteresting</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>

		<%= render 'layouts/header' %>

		<div class="container-fluid">
			<div class="container-fluid">
				<div class="jumbotron center" style="padding-top:5px;">
					<% flash.each do |name, msg| %>
						<%= content_tag(:div, msg, class: "alert alert-info") %>
					<% end %>
					<%= yield %>
				</div>

			</div>
		</div>
	</body>

	<p class="link">
		<b>
			<a class="one" href="/whoa">Whoa!</a>
		</b>
	</p>

	<p style="text-align:center;color:white;">© 2014. All Rights Reserved.</p>


		<%= render 'layouts/footer' %>

</html>
